.under-line{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: $primary;
      width: 50%;
      height: 4px;
    }
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      background: $secondary;
      width: 50%;
      height: 4px;
    }
  }