.learned{
    li{
        display: flex;
        align-items: center;
        &::before{
            content: "";
            width: 5px;
            height: 5px;
            background-color: $primary;
            display: block;
            margin-right: 8px;
        }
        
    }
}
.buy{
    width: 32px;
    height: 32px;
    text-align: center;
}
.tobuy{
  &:hover{
    color: $primary;
  }
}