img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

a{
    // display: block;
    text-decoration: none;
}
.square {
    width: 10px;
    height: 10px;
    background-color: #fff;
}
.font-Azeret-Mono{
  font-family: 'Azeret Mono', serif;
}