/* Horizontal gradient, from left to right */
@mixin gradient-x($start-color:$secondary, $end-color: $primary, $start-percent: null, $end-percent: null) {
    background-image: linear-gradient(104deg, $start-color $start-percent, $end-color $end-percent);
  }
.gradient-x{
  @include gradient-x;
}

/* Vertical gradient, from top to bottom */
@mixin gradient-y($start-color: $secondary, $end-color: $primary, $start-percent: 0%, $end-percent: 100%) {
  background-image: linear-gradient(180deg, $start-color $start-percent, $end-color $end-percent);
}
.gradient-y{
  @include gradient-y;
}
.text-gradient-y{
  @include gradient-y;
  background-clip: text;
  color: transparent;
}
.text-gradient-x{
  @include gradient-x;
  background-clip: text;
  color: transparent;
}
// @mixin text-gradient-y($start-color: $secondary, $end-color: $primary, $start-percent: 0%, $end-percent: 100%) {
//   background-image: linear-gradient(180deg, $start-color $start-percent, $end-color $end-percent);
// }
@mixin text-gradient-y{
  @include gradient-y;
  background-clip: text;
  color: transparent;
}

@mixin bg-gradient-y{
  @include gradient-y;
}

@mixin bg-gradient-x{
  @include gradient-x;
}
.bg-gradient-x{
  @include bg-gradient-x;
  color: #fff;
}